/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px; /* Ancho m치ximo del contenedor */
  margin: 0 auto; /* Centrar el contenido */
  padding: 20px;
  border: 1px solid #ccc; /* Borde delgado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: white;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #62A5ED; /* Azul claro */
  color: white;
  margin-bottom: 40px; /* Espacio adicional debajo del banner */
}

#registro label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold; /* Aplicar negrita a las etiquetas */
}

#registro input[type="text"],
#registro input[type="number"] {
  width: calc(100% - 22px); /* Ajuste para evitar desbordamiento */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#registro button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to bottom, #62A5ED, #4B8DDF); /* Degradado azul */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Efecto de clic */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#registro button:hover {
  background: linear-gradient(to bottom, #4B8DDF, #3A73B9); /* Degradado m치s oscuro */
}

#registro button:active {
  transform: scale(0.98); /* Efecto de clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para el recuadro del HbA1C */
#promedio-hba1c-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

#promedio-hba1c {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* Botones adicionales */
.botones-adicionales {
  margin-top: 30px;
  display: flex;
  justify-content: space-between; /* Espaciado entre botones */
}

.botones-adicionales button {
  flex: 1; /* Igual ancho para todos los botones */
  margin: 0 10px; /* Espaciado entre botones */
  padding: 12px;
  background: linear-gradient(to bottom, #62A5ED, #4B8DDF); /* Degradado azul */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones-adicionales button:hover {
  background: linear-gradient(to bottom, #4B8DDF, #3A73B9);
}

.botones-adicionales button:active {
  transform: scale(0.98);
}

/* Estilos para la secci칩n de gr치ficas */
#grafica {
  margin-top: 30px;
}

#grafica h2 {
  text-align: center;
  margin-bottom: 20px;
}

#grafica select {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

canvas {
  max-width: 100%;
  height: auto;
}
